.product-table-container {
       margin: 30px auto;
       width: 80%;
       padding: 20px;
       background-color: #fff;
       border-radius: 4px;
       box-shadow: 0 4px 6px grey;
       padding-bottom: 50px;
}
table.product-table {
    margin: 0 auto;
    width: 70%;
    
}

.table-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 22px;
    color: #000;
}
.product-table th, .product-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.product-table th {
    background-color:#d0be37 ;
    color: #fff;
    font-weight: bold;
}
